
.home {
    display: block;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 83vh;
    background-color: rgb(163, 163, 163);
    display: block;
    justify-content: center;
    align-items: center;
}


